# fly.toml app configuration file generated for playground-bots on 2026-01-27T23:10:53Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'playground-bots'
primary_region = 'ams'

[build]

[env]
  AUTH_TOKEN = 'playground-beta-2026'
  NODE_ENV = 'production'

[[mounts]]
  source = 'playground_data'
  destination = '/app/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
